*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("imagem2.jpg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    font-family: Arial;
}
input{
    display:block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1.2px solid white;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: white;
    outline: none;
}

div#corpo-form{
   /* background-color: red;*/
    width : 420px; 
    margin: 130px auto 0px auto;
}

div#corpo-form-Cad{
    /* background-color: red;*/
     width : 420px; 
     margin: 80px auto 0px auto;
 }

div#corpo-form h1, div#corpo-form-Cad{
    text-align: center;
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
      background-color: #FF0066;
      border: none;
      cursor: pointer;
}

::-webkit-input-placeholder{
    color: #fff;
}

:-moz-placeholder{
    color: #fff;
}

::-moz-placeholder{
    color: #fff;
}

:-ms-input-placeholder{
    color: #fff;
}